[buildout]
always-checkout = true
auto-checkout =
#    cryptacular is preinstalled by the Dockerfile from its maintained
#    2.x rewrite (github.com/michaellaunay/cryptacular)
    ecreall_dace
    ecreall_pontus
    ecreall_daceui
    deform
    html_diff_wrapper
    cipher.encryptingstorage
    deform_treepy
    robotframework-selenium2library
    graphql-wsgi
    yampy2
    pyramid-sms
    velruse
